@or: #F85028;

/*orange*/

@dor: darken(@or, 20%);

/*darkorange*/

@bl: #3CA4A4;

/*blue*/

@dbl: darken(@bl, 20%);

/*darkblue*/

@gp: "Gotham Pro";
@os: "Open Sans";
 .clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
body {
	font-family: '@os', sans-serif;
	border-image: url(../lepestkoff_index.jpg);
}
.container {
	min-width: 320px;
	padding: 0;
}
.logo {
	position: absolute;
	margin: 10px;
}
.header {
	margin-left: 200px;
	margin-right: 0;
	.col-md-12 {
		padding-right: 0;
	}
	button.btn {
		float: left;
		margin: 3px 15px 3px 15px;
		padding: 3px 5px;
		background-color: @or;
		color: #fff;
		&:hover {
			background-color: @dor;

		}
	}
}
.border1 {
	border-bottom: 1px dotted black;
	width: 100%;
	height: 1px;
	clear: both;
}
ul.login {
	margin: 28px -3px 15px 0;
	float: right;
	padding-left: 0;
	i {
		color: @bl;

	}
	li {
		display: inline-block;
		a {
			text-decoration: none;
			padding: 5px;
			color: black;
			font-family: Arial;
			font-size: 15px;
			font-weight: 400;
			&:hover, &:active, &:focus {
				color: @or;

			}
		}
	}
}
h1 {
	margin: 25px 0 15px;
	float: left;
	color: black;
	font-family: @gp;
	font-size: 23px;
	font-weight: 400;
	line-height: 27px;
	text-transform: uppercase;
	letter-spacing: -0.2px;
}
.brd::after {
	content: '';
	display: block;
	width: 100%;
//	-webkit-border-image: url(img/border.png) 0 0 10 0 repeat;
//	border-image: url(img/border.png) 0 0 10 0 repeat;
}
hr {
	clear: both;
	color: #fff;
}
.hr {
	left: 0;
	display: block;
	width: 100%;
	background: url(../img/border.png) 0 0 repeat-x;
	height: 10px;
	clear: both;
	position: absolute;
	z-index: -11;
}
.header-nav {
	font-family: @gp;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 15px 0 17px 0;
	padding: 0;
	width: 100%;
	border-bottom: 1px dotted black;
	li {
		margin-right: 20px;
		&:last-child::after {
			display: none;
		}
		&::after {
			content: '';
			display: block;
			width: 19px;
			background: url(../img/fl.png) 0 50% no-repeat;
			height: 50px;
			position: absolute;
			left: 100%;
			top: 0;
		}
		&:first-child a {
			padding-left: 0;
		}
		a {
			line-height: 50px;
			vertical-align: middle;
			color: black;
			padding: 0 19px;
			&:hover, &:active, &:focus {
				color: @bl;
				background-color: transparent;
			}
		}
	}
	.close-header-nav {
		display: none;
		position: absolute;
		color: #000;
		background-color: @or;
		top: 0;
		right: 4%;
		cursor: pointer;
		z-index: 111;
		&:hover {
			background-color: @dor;

		}
	}
}
.search {
	clear: both;
	float: left;
	position: relative;
}
.search input[type="text"] {
	width: 500px;
	height: 37px;
	border: 1px solid #e2e2e2;
	color: #7e7c7b;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 30px;
}
.search input[type="submit"] {
	background-color: @or;
	border: 0;
	height: 37px;
	color: white;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: -1px 0 0 -5px;
	&:hover {
		background-color: @dor;
	}
}
.lupa {
	position: absolute;
	top: 6px;
	left: 10px;
	font-size: 20px;
}
.cart {
	float: right;
	margin-right: 90px;
	div {
		cursor: pointer;
		height: 35px;
		width: 35px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: #000;
		float: left;
		margin: 2px 0 0 5px;
		&:hover {
			background-color: @or;
		}
		svg {
			height: 35px;
			margin-left: 7px;
		}
	}
	p {
		font-family: Arial;
		font-weight: 400;
		color: black;
		font-size: 14px;
		margin: -2px 0 0 50px;
	}
	p:last-child {
		color: @or;
		font-size: 24px;
		margin-top: -8px;
	}
}
.menu {
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
		padding: 0;
		border-bottom: 1px solid #d9d7d6;
		position: relative !important;
		&:last-child {
			border-bottom: 0;
			padding-bottom: 10px;
		}
		&:first-child {
			padding-top: 10px;
		}
		&:hover,
		&:active,
		&:focus {
			background-color: #f6f5f4;
		}
		a {
			color: black;
			font-family: @gp;
			font-size: 14px;
			line-height: 38px;
			text-transform: uppercase;
			font-weight: 400;
			display: block;
			padding-left: 60px;
			&:hover, &:active, &:focus {
				font-weight: bold;
				text-decoration: none;
				background-color: #f6f5f4;
				svg path {
					fill: @or;

				}
			}
		}
		svg {
			color: #d9d7d6;
			float: left;
			margin: 0 5px 0 18px;
			position: absolute;
			left: 10px;
			height: 38px;
		}
		.first-cir {
			margin-left: -5px;
			font-size: 16px;
		}
		.second-cir {
			margin-left: -27px;
			font-size: 21px;
		}
	}
}
h3.l-m-header {
	color: white;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: @bl;
	padding: 18px 0 0 20px;
	height: 44px;
	margin: 0;
	display: block;
	position: relative;
	&:hover {
		background-color: @dbl;
		&::after {
			border-top-color: @dbl;
		}
	}
	&::after {
		content: '';
		position: absolute;
		left: 30px;
		bottom: -14px;
		border: 7px solid transparent;
		border-top: 7px solid #3ca4a4;
		&:hover {
			border-color: @dbl;
		}
	}
}
div.menu-slider {
	margin: 13px 0 0 5px;
	border: 1px solid #d9d7d6;
	div.col-md-3, div.col-md-9 {
		padding: 0;
	}
	div.col-md-3 {
		width: 26%;
	}
	div.col-md-9 {
		width: 74%;
	}
}
.dropdown-menu {
	position: absolute;
	left: 100%;
	top:0;
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	li {
		&:last-child {
			padding-bottom: 0px;
		}
		&:first-child {
			padding-top: 0px;
		}
	}
	li a {
		padding-left: 30px;
		margin: 0;
		height: 38px;
		width: 270px;
		color: black;
		font-family: @gp;
		font-size: 14px;
		font-weight: 400;
		text-transform: none;
		&:hover, &:active, &:focus {
			font-weight: bold;
			background-color: #d9d7d6;
		}
	}
}
#fullcarousel-example {
	.item {
		.carousel-img-wrapper {
			float: left;
			margin-right: 29px;
			width: 58%;  
			position: relative;
			overflow: hidden;
			height: 375px;
		}
		img {
			position: absolute;
			left: 50%;  
			transform: translateX(-50%);
		}
		h3 {
			border-bottom: 1px dotted #c6baaf;
			font-family: @gp;
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0 0 15px 0;
			padding: 25px 0 19px;
			line-height: 29px;
			span {
				color: #e84b27;
			}
		}
		p.sl-text {
			font-family: Arial;
			color: #7e7c7b;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 15px;
		}
		button {
			width: 140px;
			height: 34px;
			background-color: @or;
			color: #d9d7d6;
			font-weight: 400;
			text-transform: uppercase;
			font-family: Arial;
			font-size: 12px;
			border: 0;
			margin-bottom: 10px;
			&:hover {
				background-color: @dor;
			}
		}
	}
	.slide-descr {
		position: relative;
		height: 376px;
		float: left;
		width: 38.6%;
		button svg {
			height: 16px;
			position: absolute;
			margin-left: 2px;
		}
	}
	a.left,
	a.right {
		top: 35%;
		height: 50px;
		width: 50px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-shadow: none;
		opacity: 1;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		position: absolute;
		-webkit-filter: none;
		filter: none;
	}
	a.left {
		left: 55%;
	}
	a.right {
		right: 0%;
		transform: rotate(180deg) translateY(50%);
	}
	a.left,
	a.right,
	.owl-next,
	.owl-prev {
		path.control-bg {
			fill: #fff !important;
		}
	}
	a.left:hover,
	a.right:hover,
	.owl-next:hover,
	.owl-prev:hover {
		path.control-bg {
			fill: #6d6d6d !important;
		}
	}
	.timer {		
		position: absolute;
		bottom: 0;
		background-color: #f6f5f4;
		outline: hidden;
		height: 58px;
		margin-left: -29px;
		svg {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 16px;
			left: 30px;
			transform: rotate(-90deg);
			path {
				fill: #7e7c7b;
			}
		}
		p {
			color: #7e7c7b;
			font-family: @os;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
			float: left;
			margin: 10px 1px 1px 67px;
		}
		.time {
			color: black;
			font-family: @os;
			font-size: 22px;
			font-weight: 700;
			float: right;
			margin: 4px 19px 1px 1px;			
			span span.position{
				display: inline-block;
				height: 14px;
				position: relative;
				width: 10px;
				color: black !important;
				top: -10px;
			}

			.digit{
				position:absolute;
				display:block;
				text-align:center
			}
			.countDiv{
				display:inline-block;
				width:16px;
				height:14px;
				position:relative;
				margin: 0 -2px 0 3px;
				top: -10px;
			}

			.countDiv:before,
			.countDiv:after{
				position:absolute;
				width:3px;
				height:3px;
				background-color:#444;
				border-radius:50%;
				left:50%;
				margin-left:-3px;
				top:0.5em;
				content:'';
			}

			.countDiv:after{
				top:0.9em;
			}
		}
		.descr {
			font-family: @os;
			font-size: 9px;
			font-weight: 400;
			text-transform: uppercase;
			float: right;
			margin: -6px 10px 1px 1px;
			span {
				color: #7e7c7b;
				margin: 0 9px;
			}
		}
	}
}
.sells-hd {
	h3 {
		color: black;
		margin: 29px 0 10px 5px;
		font-family: @gp;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		clear: both;
		cursor: pointer;
		padding-left: 40px;
		&:hover {
			color: @or;
			svg {
				border-color: @or;
				path {
					fill: @or;
				}
			}
		}
		span {
			font-size: 15px;
		}
	}
	.hd-c {
		margin-top: 39px;
	}
	.last {
		margin-top: 11px;
		margin-bottom: 7px;
	}
	svg {
		border: 3px solid black;
		border-radius: 50%;
		padding: 5px;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 20px;
		path {
			fill: black;
		}
	}
}
.wrapper {
	width: 100%;
	background-color: #f6f5f4;
}
//.container.center {
//	padding: 0 15px;
//}
.bouquet {
	max-width: 1200px;
	min-width: 320px;
	background-color: #f6f5f4;
	position: relative;
	margin: 0 auto;
	margin-top: 4px;
	a.left-bouquet, a.right-bouquet {
		top: 50%;
		height: 50px;
		width: 50px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-shadow: none;
		opacity: 1;
		color: #d9d7d6;
		background-image: none;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: 20px;
		position: absolute;
		z-index: 5;
	}
	a.left-bouquet {
		left: 0;
	}
	a.right-bouquet {
		right: 0;
	}
	.owl-prev {
		height: 50px;
		width: 50px;
		position: absolute;
		top: 40%;
		left: 0%;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		color: transparent;
		path.control-bg {
			fill: #fff !important;
		}
		&:hover {
			path.control-bg {
				fill: #6d6d6d !important;
			}
		}
	}
	.owl-next {
		height: 50px;
		width: 50px;
		position: absolute;
		top: 40%;		
		right: 0%;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		color: transparent;
		path.control-bg {
			fill: #fff !important;
		}
		&:hover {
			path.control-bg {
				fill: #6d6d6d !important;
			}
		}
	}
}
.product-box {
	font-family: Arial;
	padding: 30px 0;
	margin: 0 15px;
	img {
		margin: -6px 28px;
		width: 80% !important;
		height: auto;
	}
	h4 {
		color: black;
		font-size: 18px;
		font-weight: 700;
		margin: 20px 0 0 0;
	}
	.prise {
		color: #e84b27;
		font-size: 22px;
		font-weight: 400;
		float: left;
	}
	.stars {
		float: right;
		margin: 8px 4px 0 0;
		letter-spacing: -0.5px;
		
		svg path {
			fill: @or !important;
		}
		svg:hover path {
			fill: #dadada !important;
		}
		svg {
			path:hover {
				fill: @or !important;
			}
			path:hover+path {
				fill: @or !important;
			}
			path:hover+path+path {
				fill: @or !important;
			}
			path:hover+path+path+path {
				fill: @or !important;
			}
			path:hover+path+path+path+path {
				fill: @or !important;
			}
		}
	}
	.text {
		clear: both;
		color: #7e7c7b;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		margin: 0 0 5px 0;
		padding: 0;
		list-style-type: none;
	}
	.quick-order {
		color: white;
		font-family: Arial;
		font-size: 12px;
		font-weight: 400;
		line-height: 38px;
		text-transform: uppercase;
		width: 130px;
		height: 34px;
		background-color: @or;
		display: block;
		float: left;
		margin-left: -15px;
		position: absolute;
		bottom: 0;
		text-align: center;
		&:hover {
			background-color: @dor;
		}
		&:hover {
			text-decoration: none !important;
		}
	}
	.compare {
		color: black;
		font-family: Arial;
		font-size: 12px;
		font-weight: 400;
		line-height: 38px;
		text-transform: uppercase;
		width: 85px;
		height: 34px;
		background-color: #dddcdb;
		display: block;
		float: left;
		position: absolute;
		bottom: 0;
		left: 130px;
		text-align: center;
		&:hover {
			background-color: #aaa;
		}
		&:hover {
			text-decoration: none !important;
		}
	}
	.cart-btn {
		color: white;
		width: 53px;
		height: 34px;
		background-color: @bl;
		display: block;
		float: left;
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: center;
		font-size: 25px;
		&:hover {
			background-color: @dbl;
		}
		svg path {
			fill: #fff !important;
		}
	}
	.discount,
	.new,
	.hit {
		position: absolute;
		top: 1px;
		left: 1px;
		cursor: pointer;
		p {
			color: black;
			font-family: Arial;
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 6px 0 0 40px;
		}
		.icon {
			width: 33px;
			height: 29px;
			float: left;
			color: #fff;
			font-weight: bolder;
			font-size: 15px;
			text-align: center;
			vertical-align: middle;
			line-height: 29px;
		}
	}
	.discount {
		.icon {
			background-color: #4b4b4b;
			&:hover {
				background-color: #393939;
			}
		}
	}
	.new {
		svg {
			height: 29px;
			padding: 7px;
			path {
				fill: #fff;
			}
		}
		.icon {
			background: @bl;
			&:hover {
				background-color: @dbl;
			}
		}
	}
	.hit {
		.icon {
			background-color: @or;
			&:hover {
				background-color: @dor;
			}
		}
	}
}
.vote-block {
			position: relative;
			.vote-active {
				position: absolute;
				top: 0;
			}
		}
.pr-bg {
	border: 1px solid #dddcdb;
	background-color: #fff;
	height: auto;
	padding: 28px 0 35px 15px;
	position: relative;
}
div.owl-item:not(.active) {
	visibility: hidden;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
div.owl-item {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.container.center {
	max-width: 1200px;
}
.center-row {
	background-color: #fff;
	.product-box {
		padding-top: 20px;
	}
}
.bouquet.last {
	img {
		margin-bottom: 0;
	}
}
.article-comment {
	padding: 48px 0 30px;
	h3 {
		color: black;
		font-family: @gp;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 41px 80px;
	}
}
.art {
	position: relative;
	margin-left: 80px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #7e7c7b;
	.pencil {
		font-size: 40px;
		position: absolute;
		left: -50px;
		top: -10px;
	}
	&:last-child {
		border: 0;
	}
	h4 {
		font-weight: 400;
		color: black;
		font-family: Arial;
		font-size: 19px;
		margin: 25px 0 8px 0;
	}
	.date {
		color: @bl;
		font-family: Arial;
		font-size: 13px;
		line-height: 26px;
		margin-bottom: 0;
		i {
			font-size: 20px;
			padding-left: 8px;
		}
		span {
			border-right: 1px dotted #7e7c7b;
			padding-right: 8px;
		}
	}
	.text {
		color: #7e7c7b;
		font-family: Arial;
		font-size: 15px;
	}
	a {
		color: white;
		font-family: Arial;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		background-color: @or;
		padding: 5px 10px;
		&:hover {
			background-color: @dor;

		}
	}
}
.comment {
	position: relative;
	font-family: Arial;
	margin-left: 80px;
	padding-bottom: 14px;
	border-bottom: 1px dotted #7e7c7b;
	&:last-child {
		border: 0;
	}
	.foto {
		position: absolute;
		left: -70px;
	}
	h4 {
		color: black;
		font-size: 19px;
		font-weight: 400;
		margin-bottom: 3px;
		margin: 23px 0 6px 0;
		a {
			text-decoration: none;
		}
	}
	.te {
		color: #7e7c7b;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
	}
	span.mail {
		color: @bl;
		font-size: 16px;
		font-weight: 700;
		padding-right: 13px;
		border-right: 1px solid @bl;
	}
	span.date {
		padding-left: 10px;
		color: @bl;
		font-size: 13px;
		font-weight: 400;
	}
}
.wrapper-soc {
	border-top: 1px solid #dbdbda;
}
.social {
	max-width: 1170px;
	background-color: #f6f5f4;
	padding: 30px 0 35px;
	margin: 0 auto;
	.letter {
		float: left;
		margin: 0 14px 0 0;
	}
	form {
		float: left;
		input[type="text"] {
			height: 40px;
			width: 355px;
			font-family: Arial;
			font-size: 16px;
			font-weight: 400;
			color: black;
			padding-left: 15px;
		}
		input[type="submit"] {
			padding: 9px 20px;
			height: 40px;
			margin: -8px;
			background-color: @or;
			border: 0;
			color: white;
			font-family: Arial;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			&:hover {
				background-color: @dor;
			}
		}
	}
	p {
		color: black;
		font-family: Arial;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 13px 12px 0 0;
		float: left;
	}
	.soc-btn {
		color: #4c4c4c;
		float: right;
		margin: -4px 77px 0 0;
		font-size: 25px;
		width: 400px;
		font-family: arial, "sans-serif";
		div {
			cursor: pointer;
			border: 1px solid #cececd;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			float: left;
			height: 40px;
			width: 40px;
			text-align: center;
			margin: 3px;
			i {
				vertical-align: center;
				line-height: 40px;
			}
			.vk {
				font-family: Geneva, Arial, Helvetica, sans-serif !important;
				font-style: normal;
				font-weight: bold;
			}
		}
		svg {
			width: 25px !important;
			height: 40px !important;
			path {
				fill: #4c4c4c !important;
			}
		}
	}
}
.footer {
	padding: 30px 0;
	img.logo-ft {
		margin: -5px 15px 0;
		width: 145px;
		height: 145px;
		float: left;
	}
	.contacts {
		margin-left: 183px;
	}
	h2 {
		color: black;
		font-weight: 400;
		font-family: @gp;
		font-size: 32px;
		margin: 0 0 4px;
	}
	.pod {
		font-family: Arial;
		font-size: 17px;
		line-height: 20px;
		color: black;
		margin-bottom: 15px;
	}
	.addres,
	.phone {
		font-family: Arial;
		font-weight: 400;
		color: #7e7c7b;
		font-size: 14px;
		line-height: 22px;
		span {
			color: black;
			font-size: 18px;
		}
	}
	.phone {
		font-size: 16px;
	}
	.footer-list {
		float: left;
		margin: -5px 26px;
		h3 {
			font-family: Arial;
			color: black;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
		}
		ul {
			font-size: 15px;
			font-weight: 400;
			padding-left: 0;
			list-style-type: none;
			li {
				padding-bottom: 3px;
			}
			a {
				color: #7e7c7b;
				text-decoration: none;
			}
		}
		&:last-child {
			margin-left: 42px;
		}
	}
}
.copy {
	color: #adadac;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 23px;
	padding-left: 30px;
	clear: both;
}
.float-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: fixed;
	z-index: 11;
	left: 100px;
	top: 100px;
	height: 0;
	overflow: hidden;
	transition: height ease 0.5s;
	li {
		margin: 0;
		padding: 0;
		&:last-child a {
			border-bottom: 1px solid #ccc;
		}
	}
	a {
		width: 75px;
		height: 54px;
		border: 1px solid #ccc;
		border-bottom: 0;
		display: block;
		padding-left: 25px;
		background-color: #fff;
		transition: width ease 0.5s;
		svg {
			height: 54px;
			float: left;
			position: absolute;
			path {
				fill: black;
			}
		}
		&:hover {
			background-color: @or;
			border-color: @or;
			text-decoration: none;
			width: 250px;
			span {
				display: block;
			}
			svg path {
				fill: white;
			}
		}
		span {
			color: #fff;
			font-family: @gp;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			height: 54px;
			line-height: 54px;
			vertical-align: center;
			margin-left: 30px;
			display: none;
		}
	}
	li:nth-child(3) a svg {
		left: 30px !important;
	}
}
.vote-success, .vote-result {
	display: none;
}
.vote-hover {
	box-sizing: content-box;
}
@media (max-width: 1800px) {
	.float-menu {
		left: 30px;
	}
}

@media (max-width: 1400px) {
	.float-menu {
		display: none;
	}
}
@media (min-width: 1200px) {
	.owl-prev {
		left: 0%;
	}
	.owl-next {
		right: 0%;
	}
	.container.center {
		width: 1200px;
	}
}
@media (max-width: 1200px) {
	h1 {
		font-size: 19px;
	}
	ul.login li a {
		font-size: 13px;
	}
	.header-nav {
		li a {
			font-size: 13px;
			padding: 0 15px;
		}
		li::after {
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
		}
	}
	.search input[type="text"] {
		width: 400px;
	}
	.cart {
		margin-right: 0;
	}
	.wrapper .bouquet {
		width: 970px;
		padding: 0;
	}
	.product-box {
		img {
			margin: 0 5% 5px 5%;
			width: 90%;
		}
		.quick-order {
			width: 44%;
		}
		.compare {
			width: 29%;
			left: 44%;
		}
		.cart-btn {
			width: 27%;
		}
	}
	.bouquet .owl-next,
	.bouquet .owl-prev {
		top: 33%;
	}
	.footer .footer-list {
		margin: 0 4%;
	}
	#fullcarousel-example .item {
		.carousel-img-wrapper {
			height: 365px;
		}
		.slide-descr {
			width: 37%;
			height: 364px;
			position: relative;
			br {
				display: none;
			}
			h3 {
				padding: 5px 0;
				font-size: 20px;
				border: 0;
			}
			p.sl-text {
				padding-right: 10px;
			}
			.timer {
				bottom: 0;
				position: absolute;
			}
			.timer .time {
				font-size: 15px;
				line-height: 23px;
				vertical-align: middle;
				margin-top: 28px;
			}
			.timer .descr {
				display: none;
			}
			.action {
				display: none;
			}
			.timer p {
				font-size: 10px;
				vertical-align: middle;
				margin-top: 15px;
			}
		}
	}
	.menu li:last-child {
		padding-bottom: 0;
	}
}
@media (max-width: 1200px) and (min-width: 992px) {
	.comment {
		h4 span {
			display: block;
			margin: 10px 0;
			padding-left: 0 !important;
			border-right: 0 !important;
		}
	}
	#fullcarousel-example .timer {
		right: 0;
		left: 0;
		p {
			margin-left: 60px;
		}
		svg {
			left: 25px;
		}
	}
}
@media (max-width: 991px) {
	.logo {
		width: 125px;
		height: 127px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.header {
		margin-left: 130px;
	}
	h1 {
		font-size: 18px;
		width: 200px;
		margin: 5px 0 5px;
	}
	ul.login {
		margin-top: 18px;
	}
	.header-nav {
		margin: 0;
		border: 0;
		li a {
			font-size: 13px;
			padding: 0 5px;
			line-height: 30px;
		}
		li::after {
			height: 30px;
		}
	}
	.hr,
	.brd::after {
		display: none;
	}
	.search input[type="text"] {
		width: 280px;
		height: 30px;
	}
	.search input[type="submit"] {
		position: absolute;
		top: 1px;
		left: 280px;
		height: 30px;
		padding-top: 8px;
		border-right: 8px;
	}
	.lupa {
		top: 1px;
	}
	.cart p:last-child {
		font-size: 13px;
		margin-top: 0;
	}
	.menu li a {
		padding-left: 55px;
	}
	#fullcarousel-example .item {
		.carousel-img-wrapper {
			margin-right: 5px;
		}
		h3 {
			margin-bottom: -11px;
		}
		p.sl-text {
			margin-bottom: 0px;
		}
		.timer {
			right: -5px;
			left: 24px;
			.time {
				margin-right: 10px;
			}
		}
	}
	.wrapper .bouquet {
		width: 750px;
		padding: 0;
	}
	.bouquet .owl-next,
	.bouquet .owl-prev {
		top: 33%;
	}
	#fullcarousel-example a.left {
		left: 1px !important;
		top: 50%;
	}
	#fullcarousel-example a.right {
		right: 1px !important;
		top: 50%;
	}
}
@media (max-width: 1200px) and (min-width: 768px) {
	.product-box {
		h4 {
			min-height: 40px;
		}
		.quick-order {
			font-size: 10px;
		}
		.compare {
			font-size: 10px;
		}
	}
	.social .soc-btn {
		width: 278px;
		margin: 0;
		p {
			display: none;
		}
	}
	.menu-slider .col-md-3 {
		float: left;
	}
	.menu-slider .col-md-9 {
		float: left;
	}
	div.menu-slider {
		div.col-md-3 {
			width: 27%;
		}
		div.col-md-9 {
			width: 73%;
		}
	}
	.menu li a {
		font-size: 11px;
		i {
			margin-right: 0;
		}
		.second-cir {
			margin-left: -22px !important;
		}
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.social form input[type="text"] {
		width: 58%;
	}
	#fullcarousel-example .item .slide-descr {
		width: 40%;
	}
	.sl-text {
		font-size: 12px;
	}
	#fullcarousel-example .item .slide-descr {
		.timer {
			p.action {
				display: none;
			}
//			.time {
//				margin-right: 30px;
//			}
		}
	}
}

@media (max-width: 800px) {
	.row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
@media (max-width: 768px) {
	.cart {
		p:last-child {
			font-size: 20px;
		}
	}
	.product-box {
		.stars {
			font-size: 20px;
		}
	}
	.social .soc-btn {
		margin: 10px 0 0 17px;
		float: left;
		clear: both;
	}
	div.menu-slider div.col-md-3 {
		float: none;
		width: 100%;
	}
	div.menu-slider div.col-md-9 {
		width: 100%;
		float: none;
	}
	.dropdown-menu {
		width: 50%;
		left: 50%;
		top: -4px;
		li a {
			width: 100%;
		}
	}
	#fullcarousel-example .item {
		.carousel-img-wrapper {
			width: 100%;
			margin-bottom: 5px;
			height: auto;
		}
		img {
			position: static;
			width: 100%;
			height: auto;
			transform: translateX(0%);
		}
		.slide-descr {
			height: auto;
			width: 100%;
			h3 {
				padding: 5px 0;
				font-size: 14px;
				font-weight: bold;
				border: 0;
				margin: 0;
				span {
					color: #000;
				}
			}
			p.sl-text {
				display: none;
			}
			button {
				width: 50%;
				margin: 0;
				i {
					display: none;
				}
			}
			.timer {
				width: 50%;
				right: 0;
				height: 34px;
				bottom: 0;
				left: auto;
			}
			.timer .time {
				font-size: 12px;
				line-height: 20px;
				margin-top: 16px;
			}
			.timer p.action {
				font-size: 10px;
				margin: 0;
				display: none;
			}
		}
//		a.right {
//			right: -24px;
//		}
	}
	#fullcarousel-example a.left {
		left: 5px !important;
	}
	#fullcarousel-example a.right {
		right: 5px !important;
	}
	#fullcarousel-example .fa-circle {
		color: #aaa;
	}
	.bouquet .owl-next,
	.bouquet .owl-prev {
		top: 45%;
	}
}
@media (max-width: 767px) {
	.wrapper .bouquet {
		width: 100%;
		padding: 0 ;
	}
	.logo {
		width: 75px;
		height: auto;
	}
	.header.brd {
		margin-left: 11%;
		width: 89%;
		height: 90px;
		h1 {
			width: 100%;
			text-align: center;
		}
		ul.login {
			width: 365px;
			position: absolute;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			top: 37px;
		}
	}
	.brd::after {
		display: none;
	}
	.header {
		width: 100%;
		margin: 0;
	}
	.header-nav {
		position: absolute;
		z-index: 99;
		background: #eee;
		top: 30px;
		left: 30px;
		width: auto;
		li {
			margin-right: 0;
			text-align: center;
			border-bottom: 1px solid #aaa;
			a {
				padding: 0 30px;
			}
		}
		li::after {
			display: none;
		}
	}
	.header-nav li:first-child a {
		padding-left: 30px;
	}
	form.search {
		top: 2px;
		left: 60px;
		position: absolute;
	}
	.hr {
		display: none;
	}
	#fullcarousel-example .timer svg {
		top: 3px;
	}
	.bouquet .owl-next {
		right: 0;
	}
	.bouquet .owl-prev {
		left: 0;
	}
}
@media (max-width: 660px) {
	.bouquet .owl-next,
	.bouquet .owl-prev {
		top: 36%;
	}
}
@media (max-width: 640px) {
	.cart {
		p {
			display: none;
		}
	}
	.cart div {
		height: 30px;
		width: 30px;
		svg {
			margin-left: 4px;
		}
	}
}
@media (max-width: 600px) {
	.social .letter {
		display: none;
	}
}
@media (max-width: 560px) {
	.footer .footer-list {
		margin: 0 1%;
	}
	.article-comment {
		padding: 5px;
	}
}
@media (max-width: 540px) {
	.xs {
		display: none;
	}
	.xs-w {
		width: 100%;
	}
	.comment {
		margin-left: 0;
		h4 {
			margin-left: 80px;
			span {
				display: block;
				margin: 10px 0;
				padding-left: 0 !important;
				border-right: 0 !important;
			}
		}
		.foto {
			left: 0;
			margin: 5px;
		}
	}
	.article-comment h3 {
		margin-left: 0;
		text-align: center;
	}
	.social form {
		width: 100%;
		input[type="text"] {
			width: 70%;
		}
	}
	.header-nav {
		position: fixed;
		top: 0;
		z-index: 99;
		background: #eee;
		width: 105%;
		left: -15px;
		.close-header-nav {
			display: block;
		}
	}
	#fullcarousel-example .timer .time .countDiv {
		width: 8px;
		margin: 0;
	}
}
@media (max-width: 510px) {
	.logo {
		position: static;
		width: 100%;
		margin: 0;
	}
	.header.brd {
		margin-left: 0;
		width: 100%;
	}
	.header button.btn {
		margin-left: 4px;
	}
	.dropdown-menu {
		position: static;
		float: none;
		width: 100%;
		a:before {
			content: "\f105 ";
			display: inline;
			font-family: FontAwesome;
			margin: 0 10px;
		}
	}
	.footer {
		.footer-list {
			width: 100%;
			margin: 0 auto;
			h3 {
				text-align: center;
			}
			li {
				text-align: center;
			}
		}
		.footer-list:last-child {
			margin: 0 auto;
		}
		img.logo-ft {
			width: 50px;
			position: absolute;
			height: auto;
			margin-top: 6px;
		}
		.contacts {
			margin-left: 0;
		}
		h2,
		.pod {
			margin-left: 80px;
		}
		.addres,
		.phone {
			text-align: center;
		}
	}
	.copy {
		text-align: center;
	}
}
@media (max-width: 490px) {
	form.search {
		width: 75%;
	}
	.search input[type="text"] {
		width: 60%;
	}
	.search input[type="submit"] {
		left: 60%;
	}
	.social form input[type="submit"] {
		padding-left: 5px;
		padding-right: 5px;
	}
	.owl-item {
		width: 100%;
		float: none;
	}
}
@media (max-width: 435px) {
	.social p {
		display: none;
	}
	.social .soc-btn {
		margin-left: 0;
		width: auto;
	}
	.footer .pod {
		font-size: 14px;
	}
	.footer h2 {
		font-size: 22px;
		padding-top: 10px;
	}
}
@media (max-width: 420px) {
	form.search {
		width: 60%;
	}
	.search input[type="text"],
	.search input[type="submit"] {
		font-size: 10px;
	}
	.search input[type="text"] {
		padding-left: 4px;
	}
	.lupa {
		display: none;
	}
	.art {
		margin-left: 0;
		h4 {
			margin-left: 0px;
		}
		.pencil {
			display: none;
		}
	}
	#fullcarousel-example .timer .time span span.position {
		width: 7px;
	}
	#fullcarousel-example .timer svg {
		left: 15px;
	}
}
@media (max-width: 380px) {
	ul.login li a {
		font-size: 11px;
	}
	.header.brd ul.login {
		width: 315px;
	}
	.social form input[type="text"] {
		width: 60%;
	}
}
@media (max-width: 768px) {
	.menu li .second-cir {
		margin-left: -27px !important;
	}
}
@media (min-width: 1200px) {
	.menu li .second-cir {
		margin-left: -27px !important;
	}
}
@media (max-width: 1230px) and (min-width: 1200px) {
	.bouquet .owl-next,
	.bouquet .owl-prev {
		padding: 10px;
	}
}
